{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>Welcome to CodeSearch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Photo-Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="{% static 'searchsystem/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="{% static 'searchsystem/css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<!--webfont-->
	<link href='http://fonts.useso.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{% static 'searchsystem/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'searchsystem/js/menu_jquery.js' %}"></script>
</head>


<body>
	<div class="header">	
      <div class="container"> 
  	     <div class="logo">
			<h1><a href="index.html">Code Search</a></h1>
		 </div>
		 <div class="top_right">
		   <ul>
			<li><a href="register.html">Register</a></li>|
			<li class="login" >
				 <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
					  <div id="loginBox">                
						  <form id="loginForm">
			                <fieldset id="body">
			                	<fieldset>
			                          <label for="email">Email Address</label>
			                          <input type="text" name="email" id="email">
			                    </fieldset>
			                    <fieldset>
			                            <label for="password">Password</label>
			                            <input type="password" name="password" id="password">
			                     </fieldset>
			                    <input type="submit" id="login" value="Sign in">
			                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
			            	</fieldset>
			                 <span><a href="#">Forgot your password?</a></span>
						   </form>
				        </div>
			      </div>
			  </li>
		   </ul>
	     </div>
		 <div class="clearfix"></div>
		</div>
	</div>

	<div class="banner">
		<div class="container">
			<div class="span_1_of_1">
			    <h2>Choose your programming language<br> Search now!</h2>
			    <div class="search">
			    	<form action="{% url 'searchsystem:search' %}" method="post">
						{% csrf_token %}

						<select class="language" name="languages">
							<option value="csharp">C#</option>
							<option value="cpp">C++</option>
							<option value="c">C</option>
							<option value="css">CSS</option>
							<option value="html">HTML</option>
							<option value="java">Java</option>
							<option value="js">JavaScript</option>
							<option value="oc">Objective-C</option>
							<option value="php">PHP</option>
							<option value="perl">Perl</option>
							<option value="py">Python</option>
							<option value="ruby">Ruby</option>
							<option value="sql">SQL</option>
						</select>
						

						<ul class="nav1">
		            		<li id="search">
		            			<input type="text" name="search_text" id="search_text" size="50" maxlength="200" placeholder="Please input some keywords!" />
			
								<input type="submit" name="search_button" id="search_button" value="Search" />

							</li>
	              		</ul>
							
					</form>
	            </div>
			</div>
		</div>
	</div>

	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">Royalty Free License</a></li>
			<li><a href="#">Extended License</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Categories</a></li>
         </ul>
         <p>Copyright &copy; 2016 Jimmy Li All rights reserved.</p>
	  </div>
	</div>

</body>


</html>